/* #2f6b9d */
/* #5c8bb2 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2f6b9d, #5c8bb2);
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: #fafafa;
}

/* header */
header {
  padding: 3rem;
}

header h1 {
  font-size: 4rem;
}
header p {
  font-family: "roboto", sans-serif;
  font-weight: 100;
  font-size: 0.75rem;
  color: #a2d5f2;
}

/* main */

main {
  max-width: 750px;
  margin-inline: auto;
  border-radius: 20px;
  padding: 2rem 1rem;
  border: 1px solid #6b9ab6;
  background-color: #07689f;
  box-shadow: 5px 8px 100px rgb(0 0 0 / 40%);
}

/* form */

form {
  padding: 1rem;
}

form input {
  width: 50%;
  background-color: #fafafa;
  border: none;
  padding: 0.2rem;
  padding-left: 0.5rem;
  border-radius: 15px;
  color: #07689f;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 5px 8px 10px rgb(0 0 0 / 7%);
}
form input::placeholder {
  color: #07689f;
}

form input:focus {
  border: none;
  outline: none;
}

form button {
  margin-inline-start: 1rem;
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  vertical-align: middle;
  box-shadow: 5px 8px 10px rgb(0 0 0 / 7%);
  color: #07689f;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background-color: #093f5f;
  color: #fafafa;
  font-size: 2.25rem;
}

/* to do container */
.lists-container {
  padding: 0.5rem 1rem;
  text-align: start;
}

.lists-container h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #97d0fe;
}

.task {
  background-color: #6b9ab6;
  border-radius: 7px;
  padding: 0.6rem 0.9rem;
  margin-block: 1rem;
  position: relative;
}

.task div {
  display: inline-block;
  position: absolute;
  right: 1rem;
}
.task div span {
  display: inline-block;
}

.task p {
  display: inline;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
}

/* nascondo i task all' inzio */

#to-do-container {
  display: none;
}
#done-container {
  display: none;
}
